.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4c3b4d;
  border-bottom: 4px solid #675068;
  padding: 1.5rem 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbarLeft {
    float: left;
    display: flex;
    flex-direction: row;
}

.navbarContainer img {
  height: 36px;
  width: auto;
}

.navbarRight {
    float: right;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.searchBar {
  display: flex;
 
  align-items: center;
  /*gap: .5rem;  added the gap */
  background-color: whitesmoke;
  border-color: #675068;
  border-width: 2px;
  border-radius: 16px;
  padding: 0.5rem 0.5rem;
  width: 400px;
  height: 36px;
}

/* added genreBar */
.genreContainer {
  display: flex;
  align-items: center;
  /*gap: 0.25rem; /* space between label and dropdown */
}

.genreLabel {
  font-weight: bold;
  color:#000000;
}

.genreBar {
  color: #000000;
 
  background-color: whitesmoke;
  border: 2px solid #afafaf;
  border-radius: 16px;
  padding: 0.5rem;
  width: 120px;
  height: 36px;
  cursor: pointer;
}

.input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(61, 61, 61);
  padding: 0 0.5rem;
}

.input::placeholder {
  color: #c5c2c2;
}

.showtimeContainer {
    width: 266px;
    height: fit-content;
    margin: 1rem auto;
}

.showtimeContainer h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 28px;
    font-weight: 500;
}

.showtimes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.5rem;
}

.showtimeButton {
    background-color: #4c3b4d;
    border: 3px solid #675068;
    border-radius: 2rem;
    height: fit-content;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    font-weight: 500;
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movieCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem auto;
  width: 80%;
}

.posterWrapper {
  flex-shrink: 0;
}

.posterPreview {
  position: relative;
  border-radius: 8px;
  z-index: 1;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.moviePreviews {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.previewContainer {
  display: flex;
}

.previewTitle {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.previewDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 8px 0 8px;
}

.movieType {
  display: inline-flex;
  gap: 2rem;
}

.crew {
  display: inline-flex;
  gap: 2rem;
}

.synopsis {
  margin-top: 0.5rem;
  color: #838383;
  width: 80%;
}

.trailerWrapper {
  margin: 2rem 3rem;
}

.moviePreview {
  padding: 3%;
  border-radius: 0.5rem;
  object-fit: cover;
  z-index: 1;
}

.moviePreview:hover {
  transform: scale(1.1);
  z-index: 10;
}
