.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4c3b4d;
  border-bottom: 4px solid #675068;
  padding: 1.5rem 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.daySelector {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.dayButton {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

.dayButton:hover {
  background-color: #e2e2e2;
}

.selectedDay {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}


.navbarLeft {
    float: left;
    display: flex;
    flex-direction: row;
}

.navbarContainer img {
  height: 36px;
  width: auto;
}

.navbarRight {
    float: right;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.editButton {
  display: flex;
  justify-content: end;
}

.movieForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 1rem;
  font-size: 20px;
}

.textInput {
  border: 1px solid #afafaf;
  border-radius: 16rem;
  padding: 4px;
  margin: 0.25rem;
}


.searchBar {
  display: flex;
 
  align-items: center;
  /*gap: .5rem;  added the gap */
  background-color: whitesmoke;
  border: #675068 solid 2px;
  border-radius: 16px;
  padding: 0.5rem 0.5rem;
  width: 400px;
  height: 36px;
}

/* added genreBar */
.genreContainer {
  display: flex;
  align-items: center;
  /*gap: 0.25rem; /* space between label and dropdown */
}

.genreLabel {
  font-weight: bold;
  color:#000000;
}

.genreBar {
  color: #000000;
 
  background-color: whitesmoke;
  border: 2px solid #afafaf;
  border-radius: 16px;
  padding: 0.5rem;
  width: 120px;
  height: 36px;
  cursor: pointer;
}

.input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(61, 61, 61);
  padding: 0 0.5rem;
}

.input::placeholder {
  color: #c5c2c2;
}

.showtimeContainer {
    width: 200px;
    height: fit-content;
    margin: 0 auto;
}

.showtimeContainer h1 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}

.showtimes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.15rem;
}

.showtimeButton {
    background-color: #4c3b4d;
    border: 2px solid #675068;
    border-radius: 2rem;
    height: fit-content;
    padding: 0.25rem;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movieCard {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem auto;
  width: 80%;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 2/3;
  overflow: hidden;
  border-radius: 0.5rem;
}

.posterWrapper {
  flex-shrink: 0;
}

.posterPreview {
  object-fit: cover; /* ensures images fill the container without distortion */
}

.movieInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.moviePreviews {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.previewContainer {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.previewTitle {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 8px;
}

.previewDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 8px;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.movieType {
  display: inline-flex;
  gap: 2rem;
}

.crew {
  display: inline-flex;
  gap: 2rem;
}

.synopsis {
  margin-top: 0.5rem;
  color: #838383;
  width: 80%;
}

.trailerWrapper {
  margin: 2rem 3rem;
}


.moviePreview {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.moviePreview:hover {
  transform: scale(1.1);
  z-index: 10;
}
