.switchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.switchWide {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 60px;
  font-size: 26px;
}

.switchWide input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderWide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2e2e2e;
  transition: 0.4s;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-weight: 600;
  color: white;
}

.sliderWide::before {
  position: absolute;
  content: "";
  height: 56px;
  width: 200px;
  top: 2px;
  left: 0;
  background-color: white;
  border-radius: 50px;
  transition: transform 0.3s ease;
  z-index: 1;
}

input:checked + .sliderWide .showing {
  color: gray;
}

input:checked + .sliderWide .coming {
  color: gray;
}

input:not(:checked) + .sliderWide .showing {
  color: gray; /* inactive side */
}

input:not(:checked) + .sliderWide .soon {
  color: gray; /* active side */
}

input:checked + .sliderWide::before {
  transform: translateX(200px);
}

.showing, .soon {
  flex: 1;
  text-align: center;
  z-index: 2;
  transition: opacity 0.3s;
}

.showing {
  color: gray;
  opacity: 0;
}

.soon {
  color: #999;
  opacity: 1;
}

input:checked + .sliderWide .showing {
  opacity: 1;
  color: gray;
}

input:checked + .sliderWide .soon {
  opacity: 0;
}